body
	background: #FFF
	// +css-lock(16, 50, 600, 1000)
	line-height: 1.5
	font-family: $roboto
	+smooth-font
	+smooth-scroll
	font-size: 16px
	// font-family: $corinthia
	// +gpu

.title
	font-size: 22px
	font-weight: 300
	text-align: center
	color: #141414
	text-transform: uppercase

.divider
	text-align: center
	margin: 28px auto
.icon-divider
	display: block
	margin: 0 auto
	font-size: 1.6em

.out
	overflow: hidden
	// position: relative
