body
	background: #FFF
	line-height: 1.5
	font-family: $roboto
	+smooth-font
	+smooth-scroll
	font-size: 16px
	min-width: 320px

.title
	font-size: 22px
	font-weight: 300
	text-align: center
	color: #141414
	text-transform: uppercase
	+sm 
		font-size: 18px

.divider
	text-align: center
	margin: 22px auto
.icon-divider
	display: block
	margin: 0 auto
	font-size: 1.6em

.out
	overflow: hidden

.message-sending
	display: none
	position: fixed
	top: 20px
	right: 20px
	left: 20px
	padding: 32px 40px
	z-index: 100
	background-color: #fff
	color: #090909
	box-shadow: 0 0 5px 0 rgba(0,0,0,.1)
	font-size: 24px
	border-radius: 5px
	border: 2px solid #090909
	&__x
		position: absolute
		top: 4px
		right: 10px
		display: inline-block
		font-size: 24px
		color: $red
	
