---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
{% include "partials/_hero.html" %}
{% include "partials/_features.html" %}
{% include "partials/_catering.html" %}
{% include "partials/_about.html" %}
{% include "partials/_events.html" %}
{% include "partials/_contacts.html" %}
{% include "partials/_footer.html" %}


{# <script>
		(function() {
		  /**
		   * Video element
		   * @type {HTMLElement}
		   */
		  var video = document.getElementById("my-video");
		
		  /**
		   * Check if video can play, and play it
		   */
		  video.addEventListener( "canplay", function() {
			video.play();
		  });
		})();
		</script> #}

{% endblock %}
