<section class="about" id="about">
    <div class="about__container container-inner">
        <h3 class="about__title title">О Компании Русский мир</h3>
        {% include "partials/_divider.html" %}
        <div class="about__text">
            Компания Русский Мир оказывает услуги в сфере организации кейтеринга и эвент мероприятий с 2011. За это время нами были проведены более 1200 мероприятий основная часть которых заключается в организации кейтеринга для свадеб, дней рождений, бизнес-конференций и любых других мероприятий в  Москве и московской области! Мы предлагаем полный комплекс организации кейтеринга (catering) от доставки еды и заканчивая полным спектром услуг под ключ. Каждому клиенту составляется индивидуальное предложение, которые будет соответствовать Вашему празднику.
        </div>
    </div>
</section>