{% set catering = [ 
    {
        "image": "11.jpg", 
        "text_visible": "Кейтеринг на природе", 
        "text_hidden": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi omnis molestiae adipisci repellendus quidem exercitationem.",
        "height": "image-big"
    },
    {
        "image": "12.jpg", 
        "text_visible": "Кейтеринг в лофте", 
        "text_hidden": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi omnis molestiae adipisci repellendus quidem exercitationem.",
        "height": "image-big"
    },
    {
        "image": "8.jpg", 
        "text_visible": "Кейтеринг на празднике", 
        "text_hidden": "Поможем в организации праздника и питания в любом удобном для вас месте. Креативные решения и индвидуальный подход!",
        "height": "image-small"
    },
    {
        "image": "9.jpg", 
        "text_visible": "Кейтеринг и фуршеты на яхте", 
        "text_hidden": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi omnis molestiae adipisci repellendus quidem exercitationem.",
        "height": "image-middle"
    },
    {
        "image": "10.jpg", 
        "text_visible": "Кейтеринг на корабле", 
        "text_hidden": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi omnis molestiae adipisci repellendus quidem exercitationem.",
        "height": "image-middle"
    },
    {
        "image": "13.jpg", 
        "text_visible": "Организация питания на борту самолета", 
        "text_hidden": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi omnis molestiae adipisci repellendus quidem exercitationem.",
        "height": "image-middle"
    }
 ] %}

<section class="catering">
    <div class="container-inner catering__container">
        <h2 class="catering__title title">Кетеринг - любая локация и формат</h2>
        {% include "partials/_divider.html" %}
        <div class="catering__descr">
            Компания Русский Мир организовывает кейтеринг и проводит мероприятия на самых различных лощадках. Мы подберем для вас самые
            креативные и концептуальные решения для вашего праздника
        </div>
        <div class="catering__options">
            {% for items in catering | slice(2) %}
            <div class="catering__column">
                {% for item in items %}
                <div class="catering__item {{item.height}}" style="background-image: url('img/foto_catering/{{item.image}}')">
                    <div class="catering__text catering__text--visible">{{item.text_visible}}</div>
                    <div class="catering__text catering__text--hidden">{{item.text_hidden}}</div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>