<div class="contacts">
    <div class="contacts__container container-inner">
        <h3 class="contacts__title title">Контакты - Русский мир</h3>
        {% include "partials/_divider.html" %}
        <div class="contacts__form">
            <form action="" class="order">
                <label class="order__label">
                    <i class="order__input-icon">{{mixins.icon('user')}}</i>
                    <input type="text" class="order__input" placeholder="Введите имя" />
                </label>
                <label class="order__label">
                    <i class="order__input-icon">{{mixins.icon('call-answer')}}</i>
                    <input type="text" class="order__input order__input--long" placeholder="Телефон или е-меил" />
                </label>
                <button type="submit" class="order__submit" value="Order catering">ЗАКАЗАТЬ КЕЙТЕРИНГ</button>
            </form>
        </div>
    </div>

</div>