{% set images = [
    {
        "small": "1_small.jpg",
        "big": "1_big.jpg"
    },
    {
        "small": "2_small.jpg",
        "big": "2_big.jpg"
    },
    {
        "small": "3_small.jpg",
        "big": "3_big.jpg"
    },
    {
        "small": "4_small.jpg",
        "big": "4_big.jpg"
    },
    {
        "small": "5_small.jpg",
        "big": "5_big.jpg"
    },
    {
        "small": "6_small.jpg",
        "big": "6_big.jpg"
    }
] %}

<section class="events" id="events">
    <div class="events__container container-inner">
        <h3 class="events__title title">Фото с мероприятий</h3>
        <div class="events__photos">
            {% for img in images %}
            <div class="events__photo">
                <a href="img/foto_from_events/{{img.big}}" data-fancybox="images">
                    <img class="events__thumbnail" src="img/foto_from_events/{{img.small}}"/>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>