<footer class="footer">
    <div class="container-inner footer__container">
        <div class="footer__logo">
            <a href="index.html" class="logo logo--vert js-prevent-click prevented">
                <div class="logo__img">
                    <img src="img/logo-dark.png" alt="main-logo" />
                </div>
                <h2 class="logo__text">Русский Мир</h2>
            </a>
        </div>
    </div>
    <div class="footer__bg" style="background-image: url('img/footer_bg.png')"></div>
</footer>