<div class="hero">
    <div class="hero__video js-video">
    </div>
    <div class="hero__container">
        <div class="hero__text">
            <!-- TITLE -->
            <h2 class="hero__title">выездное обслуживание (кейтеринг)</h2>
            <!-- DESCRIPTION -->
            <p class="hero__descr">Получите расчет кейтеринга прямо сейчас!</p>
            <!-- FORM  -->
            <div class="hero__form">
                <form action="" class="calculate">
                    <div class="calculate__field">
                        <input type="text" class="calculate__input" placeholder="Введите Имя" />
                        <input type="text" class="calculate__input" placeholder="Введите телефон" />
                        <input type="text" class="calculate__input" placeholder="Количество персон" />
                    </div>
                    <div class="calculate__button-wrapper">
                        <button type="submit" class="calculate__submit" value="Receive a result of calculation">Получить расчет кейтеринга</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>