<div class="hero">
    <div class="hero__video js-video" data-vide-bg="mp4: video/demo, poster: video/poster" data-vide-options="posterType: jpg, loop: true">
    </div>
    <div class="hero__container">
        <div class="hero__text">
            <!-- TITLE -->
            <h2 class="hero__title">выездное обслуживание (кейтеринг)</h2>
            <!-- DESCRIPTION -->
            <p class="hero__descr">Получите расчет кейтеринга прямо сейчас!</p>
            <!-- FORM  -->
            <div class="hero__form">
                <form action="calculation_form.php" class="calculate js-calculate-form js-form" method="post">
                    
                    <div class="calculate__field">
                        <div class="calculate__input-group">
                            <input type="text" class="calculate__input" placeholder="Введите Имя" name="calculate-name" required />
                        </div>
                        <div class="calculate__input-group">
                            <input type="text" class="calculate__input" placeholder="Введите телефон" name="calculate-phone" required />
                        </div>
                        <div class="calculate__input-group">
                            <input type="text" class="calculate__input" placeholder="Количество персон" name="calculate-number" />
                        </div>
                    </div>

                    <div class="calculate__button-wrapper">
                        <button type="submit" class="calculate__submit js-btn-submit" value="Receive a result of calculation">Получить расчет кейтеринга</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>