.events
    &__photos
        margin: 0 -20px 0 -20px
        text-align: center
        +sm 
            margin: 0 auto
    &__thumbnail
        display: inline-block
        margin: 0 20px 40px 20px
        +sm 
            margin: 0 auto 20px

.fancybox-image, 
.fancybox-spaceball
    max-width: 100% !important