.footer
    text-align: center
    &__bg
        padding-bottom: 203px
        background-size: contain
        background-position: center bottom
        background-repeat: repeat-x
        +md 
            padding-bottom: 130px
        +sm
            padding-bottom: 70px 
    &__logo
        
        margin-bottom: 10px
        display: inline-block

