// ===== HERO FORM =====

.calculate
    &__field
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin: 0 -28px 72px
        text-align: center
        position: relative
        +sm 
            flex-flow: column
            margin: 20px -28px
    &__input-group
        flex-grow: 1
        position: relative
        margin: 0 28px
        +sm 
            margin-bottom: 16px
    &__input
        display: block
        width: 100%
        background-color: transparent !important
        font-size: 16px
        font-weight: 300
        line-height: 2.06
        color: #ffffff 
        padding: 4px 0
        border-bottom: 3px solid #fff
        
        &::placeholder
            background-color: inherit
            font-size: inherit
            font-weight: inherit
            line-height: inherit
            color: inherit
        &:focus
            border-bottom-color: rgba(#fff, 0.7)
            &::placeholder
                font-size: 0
        &.error
            color: rgba(#fff, 0.7)
        +sm 
            border-bottom-width: 1px
    label.error
        top: 100%
        left: 0
        padding: 2px 28px 0 0 

    &__submit
        display: inline-block
        padding: 6px 96px 
        font-size: 18px
        line-height: 1.83
        text-align: center
        color: #ffffff
        background-color: $red
        text-transform: uppercase
        border-radius: 3px
        &:disabled
            cursor: default
        &.disabled 
            opacity: 0.5
        +md 
            font-size: 16px
            padding: 16px 50px
        +sm 
            font-size: 14px
            padding: 14px 0
            width: 100% 
    
    
// ===== CONTACTS FORM =====

.order
    text-align: center
    &__label
        position: relative
        display: inline-block
        min-width: 270px
        margin: 16px 16px 0
        text-align: center
        border: solid 1px $grey
        border-radius: 23px
        padding: 11px 23px
        +sm 
            margin-bottom: 6px
    &__input-icon
        margin-right: 10px
        display: inline-block
        .icon
            font-size: 0.8em
            color: $grey
    &__input    
        display: inline-block
        font-size: 14px
        font-weight: 300
        line-height: 1.21
        color: #666666
        +text-overflow
        width: 45%
        &:focus
            &::placeholder
                font-size: 0
        &.error
            color: rgba(#666666, 0.7)
        &--long 
            width: 70%
        &::placeholder
            font-size: inherit
            font-weight:inherit
            line-height: inherit
            color: inherit
    &__submit
        display: inline-block
        padding: 14px 0
        font-size: 16px
        line-height: 1.31
        color: #ffffff
        background-color: $red
        min-width: 270px
        border-radius: 23px
        text-align: center
        text-transform: uppercase
        margin: 16px 16px 0
        &:disabled
            cursor: default
        &.disabled 
            opacity: 0.5
    label.error
        position: absolute
        top: 100%
        left: 15px
        // +sm 
        //     display: block
        //     width: 100%
        //     margin: 16px 0 0



// input.error
//     color: rgba(#fff, 0.7)

label.error
    position: absolute
    color: red
    font-size: 12px
    text-align: left

input:-webkit-autofill 
    -webkit-box-shadow: 0 0 0 30px white inset

input:-webkit-autofill 
    -webkit-text-fill-color: #fff !important

