.icon-bill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-broccoli {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-call-answer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chef {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-debit-card {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dinner {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-divider {
  width: 10.19em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-menu {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
